<div class="register login">
    <div class="container">
      <div class="login-content">
        <h3>
          Register
        </h3>
        <form [formGroup]="register" (submit)="signUp()">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
            </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="error">{{error}}</div>
          <p>Already have an account?
            <a routerLink='/login'>
              Login              
            </a>
          </p>
          <button class="btn btn-md ld-ext-right running" [disabled]="!register.valid">
            Sign Up
            <div *ngIf="loading" class="ld ld-ring ld-spin"></div>
          </button>
        </form>
      </div>
    </div>
  </div>
